//@import 'fonts';
// @import '_variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$dark: #333;
$light: lighten(yellowgreen, 0%);

html, body{
  background: $light;
  min-height:100%
}

h1{
  //font-size: 20.2vmin;
  color:#333;
}
pre{
  background: lighten($light, 30%)!important;
}
main{
  margin-top:60px;
  font-size:38px!important;
}

#heading{
  display:none;
}
